VITE_API_USUARIOS=http://localhost:3001
VITE_API_DOCUMENTOS=http://localhost:3002
VITE_API_PLATAFORMA=http://localhost:3003

# Ciudadanía Digital OIDC
VITE_CD_ISSUER=https://ciudadania.gob.bo
VITE_CD_CLIENT_ID=tu_client_id
VITE_CD_REDIRECT_URI=http://localhost:4200/auth/callback
VITE_CD_SCOPE=openid profile email
