NODE_ENV=development
PORT=3002

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=changeme
DB_DATABASE=safda_documentos

JWT_INTERNAL_SECRET=reemplaza_con_un_secret_largo_y_seguro
INTERNAL_API_SECRET=reemplaza_con_un_secret_largo_y_seguro
USUARIOS_SERVICE_URL=http://localhost:3001

STORAGE_PATH=./storage/pdfs
MAX_FILE_SIZE_MB=10
