NODE_ENV=development
PORT=3003

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=changeme
DB_DATABASE=safda_plataforma

JWT_INTERNAL_SECRET=reemplaza_con_un_secret_largo_y_seguro
INTERNAL_API_SECRET=reemplaza_con_un_secret_largo_y_seguro
USUARIOS_SERVICE_URL=http://localhost:3001
DOCUMENTOS_SERVICE_URL=http://localhost:3002
