VITE_API_USUARIOS=http://localhost:3001
VITE_API_DOCUMENTOS=http://localhost:3002
VITE_API_PLATAFORMA=http://localhost:3003

# Google OAuth2
VITE_GOOGLE_CLIENT_ID=tu_google_client_id.apps.googleusercontent.com
